@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-primario: #F3F5FC;
    --color-secundario: #0A3871;
    --fuente-primaria: font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    height: auto;
    padding-bottom: 40px;
    background-color: var(--color-primario);
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 96px;
    padding-left: 1rem;
}

.main{
    display: flex;
    flex-direction: column;
}

.interaccion{
    width: 100%;
    height: auto;
    padding: 0 1rem 1.5rem 1rem;
    margin-top: 56px;
}

.ingreso-texto{
    width: 100%;
    height: 251px;
    border: none;
    background-color: var(--color-primario);
    font-family: var(--fuente-primaria);
    font-size: 2rem;
    color: var(--color-secundario);
    resize: none;
}

textarea::placeholder{
    color: var(--color-secundario);
}

.interaccion__condiciones{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-family: var(--fuente-primaria);
    font-size: 0.75rem;
    color: #495057;
}

.interaccion__condiciones__icono{
    width: 1rem;
    height: 1rem;
    margin-right: 8px;
    border-radius: 50%;
    text-align: center;
    background-color: #67808E;
    color: #fff;
}

.interaccion__botones{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 1rem;
}

.interaccion__botones button, .resultado__texto__botonCopiar{
    width: 100%;
    padding: 24px 0;
    border-radius: 24px;
    cursor: pointer;
}

.interaccion__botones__encriptar{
    background-color: var(--color-secundario);
    color: #fff;
}

.interaccion__botones__desencriptar, .resultado__texto__botonCopiar{
    border: 1px solid var(--color-secundario);
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.resultado{
    display: flex;
    justify-content: center;
    padding: 0 16px;
}

.resultado__sinTexto{
    display: flex;
    gap: 32px;
}

.resultado__texto{
    display: none;
    align-items: flex-start;
    padding-top: 32px;
}

.resultado__texto__parrafo{
    font-family: var(--fuente-primaria);
    font-size: 1.5rem;
    color: #495057;
}

.resultado__sinTexto, .resultado__texto{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 64px 8px 24px 8px;
    padding: 32px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 32px;
}

.resultado__sinTexto__ningunMensaje{
    font-family: var(--fuente-primaria);
    font-size: 1.5rem;
    font-weight: bold;
    color: #343A40;
    text-align: center;
}

.resultado__sinTexto__ingresaElTexto{
    font-family: var(--fuente-primaria);
    font-size: 1rem;
    color: #495057;
    text-align: center;
}

.resultado__imagen{
    display: none;
}

@media (min-width: 768px){

    .header{
        padding-left: 40px;
    }

    .interaccion{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .ingreso-texto{
        height: 550px;
    }

    .interaccion__botones{
        flex-direction: row;
    }
    
    .interaccion__botones button{
        width: 50%;
    }

    .resultado__imagen{
        display: none;
    }
    
}

@media(min-width: 1200px){
    body{
        max-height: 100vh;
        position: relative;
    }

    .header{
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        padding-top: 40px;
        padding-left: 80px;
        /* background-color: pink; */
    }

    .interaccion{
        width: 70%;
        padding-right: 0;
        margin-top: 152px;
    }

    .ingreso-texto{
        height: 335px;
    }

    .resultado{
        width: 30%;
        height: 570px;
        padding: 0;
        margin-top: 46px;
        /* background-color: pink; */
    }

    .resultado__texto{
        /* overflow: scroll; */
        justify-content: space-between;
    }

    .resultado__texto__parrafo{
        height: 82%;
        overflow: scroll;
    }

    .main{
        flex-direction: row;
        padding-left: 240px;
        padding-right: 40px;
        gap: 80px;
    }

    .resultado__sinTexto, .resultado__texto{
        margin: 0;
        height: 100%;
    }

    .resultado__imagen{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}

